<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="config" class="org.openhab.designerfx.server.common.impl.ConfigImpl">
	</bean>

	<bean id="context" class="org.openhab.designerfx.server.common.impl.ContextImpl">
	</bean>

	<bean id="itemResourcePersistence"
		class="org.openhab.designerfx.server.persistence.impl.ItemResourcePersistenceImpl">
		<property name="context" ref="context" />
	</bean>

	<bean
		class="org.openhab.designerfx.server.businesslogic.domainmodel.ItemResourceMaster">
		<property name="itemResourcePersistence" ref="itemResourcePersistence" />
	</bean>

</beans>
