<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread | %logger.%method\(%file:%line\)] %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.FileAppender">

		<file>logs/designerx.log</file>
		<encoder>
			<pattern>%d [%thread | %logger.%method\(%file:%line\)] %-5level - %msg%n</pattern>
		</encoder>
		<prudent>true</prudent>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration> 